<!DOCTYPE html>
<html>
<head>
<title>XTENS</title>

<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

<!--STYLES-->
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/dependencies/font-awesome/styles/font-awesome.css">
<link rel="stylesheet" href="/dependencies/select2/select2.css">
<link rel="stylesheet" href="/dependencies/datatables-plugins/integration-bootstrap/styles/dataTables.bootstrap.css">
<link rel="stylesheet" href="/dependencies/datatables-plugins/integration-fontAwesome/styles/dataTables.fontAwesome.css">
<link rel="stylesheet" href="/dependencies/datatables-buttons/styles/buttons.bootstrap.css">
<link rel="stylesheet" href="/dependencies/dropzone/styles/basic.css">
<link rel="stylesheet" href="/dependencies/dropzone/styles/dropzone.css">
<link rel="stylesheet" href="/dependencies/pikaday/styles/pikaday.css">
<link rel="stylesheet" href="/dependencies/select2-bootstrap-css/select2-bootstrap.css">
<link rel="stylesheet" href="/styles/xtens.css">
<!--STYLES END-->
</head>

<style type="text/css">
nav ul li:hover ul {
    display: block;
    width:200px;
    padding:5px;
    height:auto;
    background-color:#EEEEEE;
    border-top-width:3px;
    border-top-color:blue;
}
a#search{
    color:#555;
    font-size: 13px;
    font-weight: normal;
    text-transform:uppercase;

}
div#footer{position: relative; 
    bottom:0; 
    z-index:0;
    width: 100%;
    margin-top:50%;

    color: #000;text-align:center;}

nav ul li{
    text-left:center;
}
li:hover{
    width:390px;
   }
   nav#xtensNav {
       margin-bottom:0px;
       border-bottom-width:0px;
   }
   nav#menuBarNav {
       margin-bottom:0px;
       border-top-width:0px;
   }
   ul#left {
       padding-left:25px;
   }
   h2#title {
       color:#555;
       font-size:14px;
       padding-left:10px;
       margin-top:10px;
       padding-bottom:5px;
       border-bottom: 1px solid #ccc;

   }
   ul#box {
       width:400px;
   }
</style>
<body>
<!--
<nav id="nav1"class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <svg height="50" width="200">
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(0,255,255);stop-opacity:1" />
            <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
            </linearGradient>
            <text x="30" y="40" fill = "url(#grad1)" font-family="ff-market-web, cursive" font-size="40">XTENS</text>

        </svg>

    </div>
</nav>

<nav class="navbar navbar-default" id="nav2" role="navigation">
    <ul id="left" class ="nav navbar-nav navbar-left">
        <li id="pippo" class="dropdown">
        <a href="#" class="dropdown-toggle" id="search" data-toggle="dropdown" >Admin <span class="fa fa-angle-down"></span></a>
        <ul id="box" class="dropdown-menu">
            <h2 id="title">ADMIN </h2>
            <li><a href="#/groups"><%= __("groups") %></a></li>
            <li><a href="#/operators"><%= __("operators") %></a></li>
            <li><a href="#/biobanks"><%= __("biobanks") %></a></li>
            <li><a href="#/datatypes"><%= __("data-types") %></a></li>
        </ul>
        </li>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="search" data-toggle="dropdown" >Datatype Management <span class="fa fa-angle-down"></span></a>
        <ul id="box" class="dropdown-menu">
            <h2 id="title">DATA MANAGEMENT</h2>
            <li><a href="#/subjects"><%= __("subjects") %></a></li>
            <li><a href="#/samples"><%= __("samples") %></a></li>
            <li><a href="#/data"><%= __("data") %></a></li>
        </ul>

        </li>

        <li class="dropdown">
        <a  href="#" class="dropdown-toggle" id="search" data-toggle="dropdown" data-toggle="collapse">Search <span class="fa fa-angle-down"></span></a>
        <ul id="box" class="dropdown-menu">
            <h2 id="title">SEARCH</h2>
            <li><a href="#/query"><%= __("advanced-search") %></a></li>
        </ul>

        </li>

    </ul>
    <div style="float:right">
        <label class="logoutLblPos">
            <a class="btn btn-default" href="#/logout"><%= __("logout") %></a>
        </label>
    </div>
</nav>
-->






<%- body %>



<!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->


<!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript
=
    -->

<!--SCRIPTS-->
<script src="/dependencies/jquery/js/jquery.js"></script>
<script src="/dependencies/bootstrap/js/modal.js"></script>
<script src="/dependencies/bootstrap/js/tooltip.js"></script>
<script src="/dependencies/bootstrap/js/popover.js"></script>
<script src="/dependencies/lodash/js/lodash.js"></script>
<script src="/dependencies/backbone/js/backbone.js"></script>
<script src="/dependencies/backbone.stickit/backbone.stickit.js"></script>
<script src="/dependencies/select2/select2.js"></script>
<script src="/dependencies/parsleyjs/js/parsley.js"></script>
<script src="/dependencies/moment/js/moment-with-locales.js"></script>
<script src="/dependencies/pikaday/js/pikaday.js"></script>
<script src="/dependencies/dropzone/js/dropzone.js"></script>
<script src="/dependencies/datatables/js/jquery.dataTables.js"></script>
<script src="/dependencies/datatables-plugins/integration-bootstrap/js/dataTables.bootstrap.js"></script>
<script src="/dependencies/datatables-buttons/js/dataTables.buttons.js"></script>
<script src="/dependencies/datatables-buttons/js/buttons.bootstrap.js"></script>
<script src="/dependencies/datatables-buttons/js/buttons.html5.js"></script>
<script src="/dependencies/jszip/js/jszip.js"></script>
<script src="/dependencies/d3/d3.js"></script>
<script src="/js/application/xtens.js"></script>
<script src="/js/modules/i18n.js"></script>
<script src="/js/modules/XtensBootstrap.js"></script>
<script src="/js/application/utils.js"></script>
<script src="/js/application/Router.js"></script>
<script src="/js/modules/XtensConstants.js"></script>
<script src="/js/modules/Utils.js"></script>
<script src="/js/modules/Session.js"></script>
<script src="/js/modules/DataTypePrivileges.js"></script>
<script src="/js/modules/MetadataComponent.js"></script>
<script src="/js/modules/MetadataField.js"></script>
<script src="/js/modules/MetadataLoop.js"></script>
<script src="/js/modules/MetadataGroup.js"></script>
<script src="/js/modules/DataType.js"></script>
<script src="/js/modules/XtensTable.js"></script>
<script src="/js/modules/Operator.js"></script>
<script src="/js/modules/Group.js"></script>
<script src="/js/modules/PersonalDetails.js"></script>
<script src="/js/modules/FileManager.js"></script>
<script src="/js/modules/ContactInformation.js"></script>
<script src="/js/modules/Biobank.js"></script>
<script src="/js/modules/Data.js"></script>
<script src="/js/modules/DataFile.js"></script>
<script src="/js/modules/Subject.js"></script>
<script src="/js/modules/Project.js"></script>
<script src="/js/modules/Sample.js"></script>
<script src="/js/modules/AdminAssociation.js"></script>
<script src="/js/modules/Query.js"></script>
<!--SCRIPTS END-->

<div id="spacer"></div>
<div id="footer">
    <p>© University of Genoa 2014-2015</p>
</div>
</body>
</html>
