<div id="adminAssociation">
  <style>
    #associated {
      width: 400px;
      max-height: 400px;
      overflow: auto;
      min-height: 94px;
      padding: 10px;
      border: 5px solid #aaaaaa;
      border-radius: 10px;
      height: inherit;
    }

    #noassociated {
      width: 400px;
      max-height: 400px;
      overflow: auto;
      min-height: 94px;
      padding: 15px;
      border: 5px solid #aaaaaa;
      border-radius: 10px;
      height: inherit;
    }

    div.nondominant {
      width: 200px;
      height: 40px;
      padding: 5px;
      border: 3px solid #aaaaaa;
      border-radius: 10px;
      text-align: center;
      line-height: 25px;
    }
  </style>
  <form name="Myform" class="form-horizontal association-form" role="form">

    <h2 class="legend" align="center"><%= dominant.urlRoot.slice(1).charAt(0).toUpperCase()+dominant.urlRoot.slice(1).slice(1)+" "+dominant.get('name').charAt(0).toUpperCase()+dominant.get('name').slice(1) %></h2>


    <div class="form-group row">
      <div id="labelA" class="col-md-6 text-center">
        <p> <label for="associated" class="control-label" id="label"><%= __("associated")+" "+nondominantName.charAt(0).toUpperCase()+nondominantName.slice(1) %></label></p>
      </div>
      <div id="labelB" class="col-md-6 text-center">
        <p> <label for="noassociated" id="label" class="control-label"><%= __("no-associated")+" "+nondominantName.charAt(0).toUpperCase()+nondominantName.slice(1) %></label></p>
      </div>
    </div>

    <div class="form-group row">

      <div id="associated" class="col-md-5 col-md-offset-1 Table">
        <div id="lista" class="col-md-6 col-md-offset-3">
          <% if (dominant.get(nondominantName).length !=0) {%>
            <% var a = new Array();
                    var dati = new Array();
                    for(var g = 0;g<dominant.get(nondominantName).length;g++){
                        a[g]=dominant.get(nondominantName)[g][field];
                        }
                        %>
              <% for(var j =0;j<nondominants.length;j++)  {
                        dati[j]= nondominants[j][field];
                        } %>
                <% var c =_.intersection(dati,a) %>
                  <% for (var i=0;i<c.length;i++) { %>
                    <% for(var l=0;l<nondominants.length;l++){ %>
                      <% if (c[i]==nondominants[l][field]) {%>

                        <div class="form-group row">
                          <div class="nondominant" draggable="true" id="<%= (nondominants[l].id) %>" value="<%= c[i] %>">
                            <%= c[i] %>
                          </div>
                        </div>
                        <% } %>
                          <% } %>
                            <% } %>
                              <% } %>
        </div>
      </div>

      <div id="noassociated" class="col-md-4 col-md-offset-2 Table">
        <div id="noass" class="col-md-6 col-md-offset-3">
          <% if (dominant.get(nondominantName).length ==0) {%>
            <% var a = new Array();}
                        else{ var a = new Array();
                        for(var g = 0;g<dominant.get(nondominantName).length;g++){
                            a[g]=dominant.get(nondominantName)[g][field];
                            }
                            } var dati = new Array(); %>
              <% for(var j =0;j<nondominants.length;j++)  {
                            dati[j]= nondominants[j][field];
                            } %>
                <% var b = _.difference(dati,a); %>
                  <% for (var i=0;i<b.length;i++) { %>
                    <% for(var l=0;l<nondominants.length;l++){ %>
                      <% if (b[i]==nondominants[l][field]) {%>
                        <div class="form-group row">
                          <div class="nondominant" draggable="true" id="<%= (nondominants[l].id)  %>" value="<%= b[i]%>">
                            <%= b[i]%>
                          </div>
                        </div>
                        <% } %>
                          <% } %>
                            <% } %>
        </div>
      </div>
    </div>

  </form>
</div>
