<div class="form-group biobankform-group">
    <label for="biobankID" class="data-label"><%= __('biobank-ID') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="biobankID" name="biobankID"></input>
    </div>
</div>
<div class="form-group biobankform-group">
    <label for="acronym" class="data-label"><%= __('acronym') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="acronym" name="acronym"></input>
    </div>
</div>
<div class="form-group biobankform-group">
    <label for="name" class="data-label"><%= __('name') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="name" name="name"></input>
    </div>
</div>
<div class="form-group biobankform-group">
    <label for="url" class="data-label"><%= __('url') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="url" name="url"></input>
    </div>
</div>
<div class="form-group biobankform-group">
    <label for="juristicPerson" class="data-label"><%= __('juristicPerson') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="juristicPerson" name="juristicPerson"></input>
    </div>
</div>
<div class="form-group biobankform-group">
    <label for="country" class="data-label"><%= __('country') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="country" name="country"></input>
    </div>
</div>
<div id="contact-information-cnt"></div> <!-- contactInformation -->
<div class="form-group biobankform-group">
    <label for="description" class="data-label"><%= __('description') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="description" name="description"></input>
    </div>
</div>
