<h3><%= __('contact-information') %></h3>
<div class="form-group metadataform-group">
    <label for="givenName" class="data-label"><%= __('given-name') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="givenName" name="givenName"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="surname" class="data-label"><%= __('surname') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="surname" name="surname"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="phone" class="data-label"><%= __('phone') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="phone" name="phone"></input>
    </div>
</div> 
<div class="form-group metadataform-group">
    <label for="email" class="data-label"><%= __('email') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="email" name="email"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="address" class="data-label"><%= __('address') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="address" name="address"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="zip" class="data-label"><%= __('zip') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="zip" name="zip"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="city" class="data-label"><%= __('city') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="city" name="city"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="country" class="data-label"><%= __('country') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="country" name="country"></input>
    </div>
</div>
