<h2><%= __("data-type-list") %></h2> 

<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><%=__("id") %></th>
                            <th><%= __("name") %></th>
                            <th><%= __("model") %></th>
                            <!--
                            <th><%= __("json-schema") %></th>
                            -->
                            <th><%= __("parent") %></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% _.each(dataTypes, function(dataType) { %> 
                    <tr>
                        <td><%= dataType.id %></td>
                        <td><%= dataType.get("name") %></td>
                        <td><%= dataType.get("model") %></td>
                        <!--
                        <td><%= JSON.stringify(dataType.get("schema")) %></td>
                        -->
                        <td><%= dataType.get("parents").map(function(parent) { return (" " + parent.name); }).toString().trim() %></td>
                        <td><a class="btn" href="#/datatypes/edit/<%= dataType.id %>"><%=__("edit") %></a></td>
                    </tr>
                    <% }) %> 
                    </tbody>
                </table>
            </div>
            <div id="buttonbardiv" class="row text-center">
                <a href="#/datatypes/new" class="btn btn-primary"><%= __("new-data-type")%></a>
            </div>
        </div>
    </div>
</div>

