<h2><%= __("group") + ": " + group.get("name") %></h2>

<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><%= __("data-type-name") %></th>
                            <th><%= __("privilege-level") %></th>
                            <th><%= __("actions") %></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% _.each(privileges.models, function(privilege) { %>
                    <tr>
                        <td><%= _.findWhere(group.get('dataTypes'), {'id': privilege.get("dataType")}).name %></td>
                        <td><%= privilege.get("privilegeLevel").toUpperCase().replace('_', ' ') %></td>
                        <td><a class="btn" href="#/datatypeprivileges/edit/<%= group.id %>/<%= privilege.id %>"><%=__("edit") %></a></td>
                    </tr>
                    <%}) %>
                    </tbody>
                </table>
            </div>
            <div id="buttonbardiv" class="row text-center">
            <a href="#/datatypeprivileges/new/<%= group.id %>" class="btn btn-primary"><%= __("new-data-type-privilege")%></a>
            </div>
        </div>
    </div>
</div>

