<h1>
    <%= __("data-details") %>
</h1>

<div id="content">
    <div class="container data-header-cnt">
        <div id="data-header-row" class="row data-header-row">
            <div id="data-header" class="col-md-offset-2 col-md-6">
                <div class="row margin-row">
                    <% if (data.get("parentSubject")) {%>
                    <label for="parentSubject" class="data-label">
                        <%= __("subject") %>: </label>
                    <span class="data-span">
                        <%= data.get("parentSubject").code %>
                    </span>
                    <%} %>
                    <% if (data.get("parentSample")) {%>
                    <label for="parentSample" class="data-label">
                        <%= __("sample") %>: </label>
                    <span class="data-span">
                        <%= data.get("parentSample").biobankCode %>
                    </span>
                    <%} %>
                </div>
                <div class="row margin-row">
                    <label for="dataType" class="data-label">
                        <%= __("data-type") %>
                    </label>
                    <div class="data-input-div">
                        <div class="" id="dataType" name="dataType">
                            <%= data.get("type").name %>
                        </div>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="date" class="data-label">
                        <%= __('date') %>
                    </label>
                    <div class="data-input-div">
                        <div text class="" id="date" name="date"></div>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="tags" class="data-label">
                        <%= __('tags') %>
                    </label>
                    <div class="data-input-div">
                        <div type="hidden" class="" id="tags" name="tags"></div>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="notes" class="data-label">
                        <%= __('notes') %>
                    </label>
                    <div class="data-input-div">
                        <div class="" id="notes" name="notes" rows="4"></div>
                    </div>
                </div>
            </div>
            <div id="file-header" class="col-md-4">
                <% var files = data.get("files"); %>
                <% if (files.length) { %>
                <h4>
                    <%=__("file-list")%>
                </h4>
                <% _.each(files, function(file) {%>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-file"></i></span>
                    <div class="form-control" type="text">
                        <% var fileFragments = file.uri.split(PATH_SEPARATOR); %>
                        <%= fileFragments[fileFragments.length - 1 ] %>
                    </div>
                </div>
                <%});
                }%>
            </div>
        </div>
    </div>
    <div id="metadata-schema" class="metadata-schema">
        <div id="metadata-body" class="metadata-body">
            <% var metadata = data.get("metadata"), value, values, unit;
            _.each(fields, function(field,index) {%>
            <!--
      <% var groupname = field._group %>
        -->
            <%if (index === 0 || fields[index-1]._group !== field._group ){%>
            <div class="metadatagroup span7 center">
                <h4 class="metadatagroup-header text-uppercase">
                    <%= field._group %>
                </h4>
                <div class="metadatacomponent-body">
                    <%}%>
                    <% if (!field.sensitive || xtens.session.get('canAccessSensitiveData') ) {%>
                    <div class="row margin-row">
                        <span name="metadata-name" class="col-md-4 text-right" style="padding-left:29px">
                            <%=field.name%>
                        </span>
                        <div class="col-md-5 text-left">

                          <% value =  metadata[field.formattedName] ? metadata[field.formattedName].value : null;
                            values = metadata[field.formattedName] ? metadata[field.formattedName].values : null;
                            if (field.fieldType==="Date"){value=moment(value).lang("it").format('L');}
                            unit = metadata[field.formattedName] ? metadata[field.formattedName].unit : null; %>
                            <div name="metadata-value" class="data-value">
                                <% if (_.isArray(values)) { %>
                                    <%=  !_.isEmpty(values) ? values.join(", ") : "" %>
                                <% }
                                else{ %>
                                <%= value && unit ? value + " [" + unit + "]" :
                                value ? value : "" %>
                                <%};%>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <% if (index === fields.length-1 || field._group !== fields[index+1]._group ) {%>
                </div>
            </div>
            <%}%>
            <%});%>
        </div>
    </div>
</div>
