<h2><%= __("data-list") %></h2>

<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><%= __("type") %></th>
                            <th><%= __("date") %></th>
                            <th><%= __("tags") %></th>
                            <!--
                            <th><%= __("metadata") %></th>
                            -->
                            <th><%= __("notes") %></th>
                            <th style="display:none;"><%= __("project") %></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% var metadata, date;
                    _.each(data, function(data) {
                      var dataType = _.find(dataTypes, {id : data.get('type')});
                      var dataProject = _.find(xtens.session.get("projects"), {id : dataType.get("project")}); %>
                      <tr class="content">
                        <td><%= dataType.get("name") %></td>
                        <td>
                            <% date = data.get("date") %>
                            <%= date ? moment(date).lang("it").format('L') : '' %>
                        </td>
                        <td><%= JSON.stringify(data.get("tags")) %></td>
                        <!--
                        <td>
                            <ul>
                            <% metadata = JSON.stringify(data.get("metadata"))
                                _.each(metadata, function(elem, key) { %>
                                <li><%= key %> : <%= elem.value ? elem.value : elem.values ? elem.values.join(",") : '' %> </li>
                            <%    });
                            %>
                            </ul>
                        </td>
                        -->
                        <td><%= data.get("notes") %></td>
                        <td style="display:none;"><%= dataProject ? dataProject.name : null %></td>
                        <td class="text-right">
                          <% var privilege = dataTypePrivileges.find(function(model) {
                            return model.get('dataType') === data.get("type"); });
                           if( privilege && privilege.get("privilegeLevel") !== "view_overview" ){ %>
                            <a class="btn" href="<%= data.get("detailsLink") %>"><%=__("data-details") %>
                          <%} %>
                          <% if( privilege && privilege.get("privilegeLevel") === "edit" ){ %>
                            <a class="btn" href="<%= data.get("editLink") %>"><%=__("edit") %></a>
                            <%} %>
                            <% if (data.get("newDataLink") && data.get("newDataLink").length > 0) { %>
                            <a class="btn" href="<%= data.get("newDataLink") %>"><%=__("new-data") %></a>
                            <%}%>
                        </td>
                      </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
            <div id="pagination" class="row"></div>
            <div id="buttonbardiv" class="row text-center">
                <div class="btn-group btn-group-margin">
                      <a href="" id="newData" class="btn btn-primary"><%= __("new-data")%></a>
                </div>
            </div>
        </div>
    </div>
</div>
