<h2><%= __("data-list") %></h2>

<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><%= __("type") %></th>
                            <th><%= __("date") %></th>
                            <th><%= __("tags") %></th>
                            <!--
                            <th><%= __("metadata") %></th>
                            -->
                            <th><%= __("notes") %></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% var metadata, date; 
                    _.each(data, function(data) { %>
                    <tr>
                        <td><%= data.get("type").name %></td>
                        <td>
                            <% date = data.get("date") %>
                            <%= date ? date.slice(0, date.indexOf("T")).split("-").reverse().join("/") : '' %>
                        </td>
                        <td><%= JSON.stringify(data.get("tags")) %></td>
                        <!--
                        <td>
                            <ul>
                            <% metadata = JSON.stringify(data.get("metadata")) 
                                _.each(metadata, function(elem, key) { %>
                                <li><%= key %> : <%= elem.value ? elem.value : elem.values ? elem.values.join(",") : '' %> </li>
                            <%    });
                            %>
                            </ul>
                        </td>
                        -->
                        <td><%= data.get("notes") %></td>
                        <td>
                            <a class="btn" href="<%= data.get("detailsLink") %>"><%=__("data-details") %>
                            <a class="btn" href="<%= data.get("editLink") %>"><%=__("edit") %></a>
                            <% if (data.get("newDataLink") && data.get("newDataLink").length > 0) {%>
                            <a class="btn" href="<%= data.get("newDataLink") %>"><%=__("new-data") %></a>
                            <%} %>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
            <div id="buttonbardiv" class="row text-center">
                <a href="" id="newData" class="btn btn-primary"><%= __("new-data")%></a>
            </div>
        </div>
    </div>
</div>
