<h1><%= __("data-type-manager") %></h1>
<h2><%= dataType ? __("update-data-type") : __("create-data-type") %></h2>

<div id="content"> 

    <form class="form-horizontal edit-datatype-form" role="form">
        <div id="schemaHeader">
            <div class="form-group row">
                <label for="schemaName" class="col-md-2 control-label"><%= __("name") %></label>
                <div class="col-md-6">
                    <input text class="form-control" id="schemaName" name="schemaName" 
                    value="<%= dataType ? dataType.get('name') : '' %>" placeholder="Data Type Name">
                </div>
                <label for="fileUpload" class="col-md-2 control-label"><%= __("file-upload") %></label>
                <div class="col-md-2">
                    <input type="checkbox" id="fileUpload" name="fileUpload" value="fileUpload" 
                    <% if(dataType && dataType.get('schema').header.fileUpload) { %> checked="checked" <% } %> >
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-md-2 control-label"><%=__("description") %></label>
                <div class="col-md-10">
                    <input text class="form-control" id="description" name="description" 
                    value="<%= dataType ? dataType.get('schema').header.description : '' %>" placeholder="Brief Description">
                </div>
            </div>
            <div class="form-group row">
                <label for="version" class="col-md-2 control-label"><%=__("version") %></label>
                <div class="col-md-2">
                    <input text class="form-control" id="version" name="version" 
                    value="<%= dataType ? dataType.get('schema').header.version : '' %>" placeholder="0.0.X">
                </div>
                <label for="ontology" class="col-md-2 control-label"><%=__("ontology") %></label>
                <div class="col-md-6">
                    <select class="form-control" id="ontology" name="ontology">
                        <option value="" selected="true">Select an ontology to name metadata fields</option>
                    </select>
                </div>
            </div>
        </div> <!-- schemaHeader -->
        <div id="schemaBody"></div>  
        <div id="buttonbardiv" class="row text-center">
                <div class="btn-group btn-group-margin">
                    <input type="button" class="btn btn-info add-metadata-group" value="<%=__('add-metadata-group') %>" >
                    <input type="submit" class="btn btn-primary" value="<%=__('save-data-type') %>" >
                    <% if (dataType) { %>
                    <input type="hidden" id="id" name="id" value="<%= dataType.id %>" />
                    <button data-dataType-id="<%= dataType.id %>" class="btn btn-danger delete"><%= __("delete") %></button>
                    <%} %>
                </div>
        </div>
    </form>

</div> <!--content -->
