<h1><%= __("customised-data-management") %></h1>
<div id="content">
    <form class="form-horizontal edit-data-form" role="form" data-parsley-focus="first" data-parsley-validate>
        <div id="data-header-row" class="row data-header-row">
            <div class="form-group dedicated-data-select">
                <label for="dataType" class="data-label"><%= __("select-a-data-type") %></label>
                <div class="data-input-div">
                  <select required id='dataType' name="dataType" title="<%= __('please-select') %>" data-width="400px" class="form-control selectpicker">
                        <option value="CGH">CGH</option>
                        <option value="CBINFO">NB Clinical information</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="dropzone">
            <div class="dz-default dz-message text-center">
                <span><%= __('drop-files-here') %></span>
            </div>
            <div class="fallback">
                <input name="file" type="file">
            </div>
        </div>
        <div id="buttonbardiv" class="row text-center">
            <div class="btn-group btn-group-margin">
                <input type="submit" id="save" class="btn btn-primary" value="<%=__('save') %>" >
            </div>
        </div>
    </form>
</div>
<div class="customised-data-modal"></div>
