<div id="group">
   <script>
        $(document).ready(function() { $("select#association").select2(); });
        $(document).ready(function() { $("select#dissociation").select2(); });
        $(document).ready(function() { $("select#associationop").select2(); });
        $(document).ready(function() { $("select#dissociationop").select2(); });


    </script>
    
<form name = "Myform" class="form-horizontal edit-group-form" role="form">
    <legend class="legend"align="center"><%= group ? 'Edit' : 'New' %> Group</legend>
    <div class="form-group row">
        <label  class="col-md-3 control-label"><%= __("name") %></label>
        <input class = "col-md-6" name="name" id="first" type="text" value="<%= group ? group.get('name') : '' %>">
        </div>
        <% if(group) { %>
        <div class="form-group row">
        <label  class="col-md-3 control-label"><%= __("associate-datatype") %></label>
        <select multiple="true" class = "col-md-6" name="association[]" id="association" type="text">
            <% if (group.get('data_type')!=""&&group.get('data_type')!=null) {%> 
            <%var a = group.get('data_type').split(",");
            }else{ var a = new Array();} var dati = new Array(); %> 
             <% for(var j =0;j<datatypes.length;j++)  { 
             dati[j]= datatypes[j].attributes.name;
             } %> 
             <% var b = _.difference(dati,a); %>
             <% for (var i=0;i<b.length;i++) { %> 
                 <% for(var l=0;l<datatypes.length;l++){ %>
                 <% if (b[i]==datatypes[l].attributes.name) {%>
                 <option  id="<%= datatypes[l].attributes.id %>" value ="<%= b[i]%>"><%= b[i]%></option>
             <% } %>
             <% } %>
             <% } %>


            
        </select>
        </div>
        <% }; %>
         <% if(group) { %>
        <div class="form-group row">
        <label  class="col-md-3 control-label"><%= __("dissociate-datatype") %></label>
        <select multiple="true" class = "col-md-6" name="dissociation[]" id="dissociation" type="text" value="<%= group ? group.get('data_type') : '' %>">
              <% if (group.get('data_type')!=""&&group.get('data_type')!=null) {%> 
            <%var a = group.get('data_type').split(",");
            }else{ var a = new Array();} var dati = new Array(); %> 
            <% for(var j =0;j<datatypes.length;j++)  { 
             dati[j]= datatypes[j].attributes.name;
             } %>
             <% var c =_.intersection(dati,a) %> 
            <% for (var i=0;i<c.length;i++) { %> 
                 <% for(var l=0;l<datatypes.length;l++){ %>
                 <% if (c[i]==datatypes[l].attributes.name) {%>

                  <option id="<%= datatypes[l].attributes.id %>" selected value ="<%= c[i] %>"><%= c[i] %></option>
                       <% } %>
                       <% } %>
                       <% } %>


           
                  </select>
        </div>
        <% }; %>

      <% if(group) { %>
        <div class="form-group row">
        <label  class="col-md-3 control-label"><%= __("associate-operator") %></label>
        <select multiple="true" class = "col-md-6" name="associationop[]" id="associationop" type="text">
            <% if (group.get('operator')!=""&&group.get('operator')!=null) {%> 
            <%var a = group.get('operator').split(",");
            }else{ var a = new Array();} var dati = new Array(); %> 
             <% for(var j =0;j<operators.length;j++)  { 
             dati[j]= operators[j].attributes.login;
             } %> 
             <% var b = _.difference(dati,a); %>
             <% for (var i=0;i<b.length;i++) { %> 
                 <% for(var l=0;l<operators.length;l++){ %>
                 <% if (b[i]==operators[l].attributes.login) {%>
                 <option  id="<%= operators[l].attributes.id %>" value ="<%= b[i]%>"><%= b[i]%></option>
             <% } %>
             <% } %>
             <% } %>


            
        </select>
        </div>
        <% }; %>
         <% if(group) { %>
        <div class="form-group row">
        <label  class="col-md-3 control-label"><%= __("dissociate-operator") %></label>
        <select multiple="true" class = "col-md-6" name="dissociationop[]" id="dissociationop" type="text" >
              <% if (group.get('operator')!=""&&group.get('operator')!=null) {%> 
            <%var a = group.get('operator').split(",");
            }else{ var a = new Array();} var dati = new Array(); %> 
            <% for(var j =0;j<operators.length;j++)  { 
             dati[j]= operators[j].attributes.login;
             } %>
             <% var c =_.intersection(dati,a) %> 
            <% for (var i=0;i<c.length;i++) { %> 
                 <% for(var l=0;l<operators.length;l++){ %>
                 <% if (c[i]==operators[l].attributes.login) {%>

                  <option id="<%= operators[l].attributes.id %>" selected value ="<%= c[i] %>"><%= c[i] %></option>
                       <% } %>
                       <% } %>
                       <% } %>


           
                  </select>
        </div>
        <% }; %>








    <hr />
    <div id="buttonbardiv" class="row text-center">
         <% if(!group) { %>
        <button type="submit" class="btn" >Create Group</button>
        <% } %>

        <% if(group) { %>
         <button id="update"type="hidden" class="btn update" name="update">Update Group</button>
        <input type="hidden" name="id" value="<%= group.id %>" />
        <button data-group-id="<%= group.id %>" class="btn btn-danger delete">Delete</button>
        <% }; %>
    </div>
</form>
</div>
