<div id="group">
    <form name = "Myform" class="form-horizontal edit-group-form" role="form" data-parsley-trigger="focusout" data-parsley-validate>

        <legend class="legend"align="center"><%= group ? 'Edit' : 'New' %> Group</legend>

        <div class="form-group row">
            <label for="name" class="col-md-3 control-label"><%= __("name") %></label>
            <div class="col-md-6">
                <input required class ="form-control" name="name" id="name" type="text" value="<%= group ? group.get('name') : '' %>">
            </div>
        </div>

        <div class="form-group row">
            <label for="privilege-level" class="col-md-3 control-label"><%= __("privilege-level") %></label>
            <div class="col-md-6">
                <select required class ="form-control" name="privilege-level" id="privilege-level" ></select>
            </div>
        </div>

        <div class="form-group row">
            <label for="can-access-personal-data" class="checkbox-inline">
                <input type="checkbox" name="can-access-personal-data" id="can-access-personal-data">
                <%= __("can-access-personal-data") %>
            </label>
        </div>

        <div class="form-group row">
            <label for="can-access-sensitive-data" class="checkbox-inline">
                <input type="checkbox" name="can-access-sensitive-data" id="can-access-sensitive-data">
                <%= __("can-access-sensitive-data") %>
            </label>
        </div>

        <hr />

        <div id="buttonbardiv" class="row text-center">
            <div class="btn-group btn-group-margin">
            <input type="submit" id="save" class="btn btn-primary" value="<%= __('save-group') %>" >
            <% if(group) { %>
                <input type="hidden" name="id" value="<%= group.id %>" />
                <button id="delete" data-group-id="<%= group.id %>" class="btn btn-danger delete"><%= __('delete') %></button>
            <% }; %>
        </div>
        </div>

    </form>
    <div class="group-modal"></div>
</div>
