<h4>
    <% if (!component.name) {%>
    <a class="remove-me">
        <span class="fa fa-times-circle"></span>
    </a>
    <%} %>
    <%= __("attribute") %>
    </br>
</h4>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-third">
            <label class="control-label"><%= __('type') %></label>
            <select class="form-control input-sm field-type no-edit" name="fieldType">
            </select>
        </div>
        <div class="metadataField-third">
            <label class="control-label"><%= __('name') %></label>
            <input text class="form-control input-sm no-edit" placeholder="Field Name" name="name" required data-parsley-length="[2, 24]">
        </div>
        <div class="metadataField-third">
            <label class="control-label"><%= __('custom-value') %></label>
            <input text class="form-control input-sm" placeholder="Custom Value" name="customValue">
        </div>
    </div>
</div>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-sixth">
            <label class="checkbox-inline">
                <input type="checkbox" name="visible" value="visible">
                <%=__('visible') %>
            </label>
        </div>
        <div class="metadataField-sixth"></div>
        <div class="metadataField-third">
             <label class="control-label"><%= __('display-name') %></label>
             <input text class="form-control input-sm" placeholder="Display Name" name="displayName">
        </div>
    </div>
</div>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-sixth">
            <label class="checkbox-inline">
                <input type="checkbox" name="required" value="required" class="no-edit">
                <%=__('required') %>
            </label>
        </div>
        <div class="metadataField-sixth">
            <label class="checkbox-inline">
                <input type="checkbox" name="sensitive" value="sensitive" >
                <%=__('sensitive') %>
            </label>
        </div>
        <div class="metadataField-sixth">
            <label class="checkbox-inline">
                <input type="checkbox" name="hasRange" value="hasRange" >
                <%=__('hasRange') %>
            </label>
        </div>
        <div class="metadataField-range">
            <label class="control-label"><%= __('min') %></label>
            <input text class="form-control input-sm" name="min" placeholder="Minimum Value" data-parsley-type="number">
        </div>
        <div class="metadataField-range">
            <label class="control-label"><%= __('max') %></label>
            <input text class="form-control input-sm" name="max" placeholder="Maximum Value" data-parsley-type="number">
        </div>
        <div class="metadataField-range">
            <label class="control-label"><%= __('step') %></label>
            <input text class="form-control input-sm" name="step" placeholder="Step" data-parsley-type="number">
        </div>

    </div>
</div>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-third">
            <label class="checkbox-inline">
                <input type="checkbox" name="isList" value="isList" class="no-edit"> 
                <%=__('is-list') %>
            </label>
        </div>
        <div class="metadataField-third">
            <label class="checkbox-inline">
                <input type="checkbox" name="hasUnit" value="hasUnit" class="no-edit">
                <%=__('has-units') %>
            </label>
        </div>
        <div class="metadataField-third">
            <label class="checkbox-inline">
                <input type="checkbox" name="fromDatabaseCollection" value="fromDatabaseCollection" class="no-edit"> <%=__('has-database-connection') %>
            </label>
        </div>
    </div>
</div>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-third">
            <input type="hidden" name="possibleValues" class="form-control input-sm value-list">
        </div>
        <div class="metadataField-third">
            <input type="hidden" name="possibleUnits" class="form-control input-sm unit-list">
        </div>
        <div class="metadataField-third">
            <select class="form-control input-sm no-edit" name="dbCollection" name="dbCollection">
            </select>
        </div>
    </div>
</div>
