<h4 class="row text-center">
    <a>
        <span class="fa fa-times-circle"></span>
    </a>
    <%= __("group") + " " + id %>
    </br>
</h4>
<div class="form-group row">
    <label for="groupName" class="col-md-3 control-label"><%= __("group-name") %></label>
    <div class="col-md-9">
        <input text class="form-control" id="groupName<%="_" + id %>" name="groupName<%= + "_" + id %>" placeholder="Metadata Group Name">
    </div>
</div>
<div class="row text-center">
    <input type="button" class="btn btn-default" value="<%=__('add-loop') %>">
    <input type="button" class="btn btn-default" value="<%=__('add-attribute') %>">
</div>
