<h4>
    <% if (!component) {%>
    <a class="remove-me">
        <span class="fa fa-times-circle"></span>
    </a>
    <%} %>
    <%= __("attribute") %>
    </br>
</h4>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-third">
            <label class="control-label"><%= __('type') %></label>
            <select class="form-control input-sm field-type" name="fieldType">
                <% _.each(fieldTypes, function(fieldType) {
                %>
                <option value="<%= fieldType %>"
                <% if (component && component.fieldType === fieldType) { %> selected="selected" <% } %> >
                <%= fieldType.toUpperCase() %></option>
                <%
                }) %>
            </select>
        </div>
        <div class="metadataField-third">
            <label class="control-label"><%= __('name') %></label>
            <input text class="form-control input-sm" placeholder="Field Name" name="name" 
            value="<%= component ? component.name : '' %>">
        </div>
        <div class="metadataField-third">
            <label class="control-label"><%= __('custom-value') %></label>
            <input text class="form-control input-sm" placeholder="Custom Value" name="customValue" 
            value="<%= component ? component.customValue : '' %>">
        </div>
    </div>
</div>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-sixth">
            <label class="checkbox-inline">
                <input type="checkbox" name="required" value="required" <% if(component && component.required) { %> checked="checked" <% } %>  >
                <%=__('required') %>
            </label>
        </div>
        <div class="metadataField-sixth">
            <label class="checkbox-inline">
                <input type="checkbox" name="sensitive" value="sensitive" <% if(component && component.sensitive) { %> checked="checked" <% } %>  >
                <%=__('sensitive') %>
            </label>
        </div>
        <div class="metadataField-range">
            <label class="control-label"><%= __('min') %></label>
            <input text class="form-control input-sm" name="min" placeholder="Minimum Value" value="<%= component ? component.min : '' %>">
        </div>
        <div class="metadataField-range">
            <label class="control-label"><%= __('max') %></label>
            <input text class="form-control input-sm" name="max" placeholder="Maximum Value" value="<%= component ? component.max : '' %>">
        </div>
        <div class="metadataField-range">
            <label class="control-label"><%= __('step') %></label>
            <input text class="form-control input-sm" name="max" placeholder="Step" value="<%= component ? component.step : '' %>">
        </div>

    </div>
</div>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-third">
            <label class="checkbox-inline">
                <input type="checkbox" name="isList" value="isList" <% if(component && component.isList) { %> checked="checked" <% } %>  > 
                <%=__('is-list') %>
            </label>
        </div>
        <div class="metadataField-third">
            <label class="checkbox-inline">
                <input type="checkbox" name="hasUnit" value="hasUnit" <% if(component && component.hasUnit) { %> checked="checked" <% } %>  >
                <%=__('has-units') %>
            </label>
        </div>
        <div class="metadataField-third">
            <label class="checkbox-inline">
                <input type="checkbox" name="fromDatabaseCollection" value="fromDatabaseCollection" 
                <% if(component && component.fromDatabaseCollection) { %> checked="checked" <% } %> > <%=__('has-database-connection') %>
            </label>
        </div>
    </div>
</div>
<div class="metadataField-formgroup">
    <div class="metadataField-row">
        <div class="metadataField-third">
            <input type="hidden" name="possibleValues" class="form-control input-sm value-list"
            value="<%= component ? component.possibleValues.join() : '' %>">
        </div>
        <div class="metadataField-third">
            <input type="hidden" name="possibleUnits" class="form-control input-sm unit-list"
            value="<%= component ? component.possibleUnits.join() : '' %>">
        </div>
        <div class="metadataField-third">
            <select class="form-control input-sm" name="tableConnection" name="tableConnection">
                <option selected value=""><%= __('please-select') %></opt>
            </select>
        </div>
    </div>
</div>
