<h2><%= __("operator-list") %></h2> 

<div id="content">
    <div class="table-responsive">
        <table class="table striped">
            <thead>
                <tr>
                    <th><%= __("firstname") %></th>
                    <th><%= __("lastname") %></th>
                    <th><%= __("birthdate") %></th>
                    <th><%= __("sex") %></th>
                    <th><%= __("email") %></th>
                    <th><%= __("login") %></th>
                    <th><%= __("password") %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="buttonbardiv" class="row text-center">
        <a href="#/operators/new" class="btn btn-primary"><%= __("new-operator")%></a>
    </div>
</div>
