<div id="adminAssociation">
    <style>
#associated {width:400px;height:300px;padding:10px;border:5px solid #aaaaaa;border-radius:10px;}
#nomember {width:400px;height:300px;padding:15px;border:5px solid #aaaaaa;border-radius:10px;}
div.operator {width:200px;height:40px;padding:5px;border:3px solid #aaaaaa;border-radius:10px;text-align: center;line-height:25px;}
#label {text-align:center;
    vertical-align:middle; 
    display:block;
    top:120px;}
    </style>
    <script>
var router = xtens.router;
function drag(evt)
{
    evt.dataTransfer.setData("text",evt.target.id);

}
function enableDrop(evt)
{
    evt.preventDefault();
}

function associate(ev) {

    ev.preventDefault();
    var id_operatorass=ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(id_operatorass));
    var id_grp = parseInt(document.URL.split("/")[6]);
    $.post('/groupOperator/associate',{ id_group: id_grp, id_operator:(id_operatorass/1000)}, 
            function(){
            });
    router.navigate('groups', {trigger:true});


}
function dissociate(ev){
    ev.preventDefault();
    var id_operatordiss=ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(id_operatordiss));
    var id_grp = parseInt(document.URL.split("/")[6]);
    $.post( '/groupOperator/dissociate',
            {id_group: id_grp, id_operator:(id_operatordiss/1000)},
            function () {
            }
          );
    router.navigate('groups', {trigger:true});

}
    </script>
    <form name = "Myform" class="form-horizontal operator-association-form" role="form">

        <h2 class="legend" align="center"><%= __("operator") %></h2> 


        <div class="form-group row" >

            <p> <label for="associated" class="col-md-3 control-label" id="label"><%= __("associated-operators") %></label></p>

            <div id="associated" class="col-md-6 Table" ondrop ="associate(event)" ondragover="enableDrop(event)" >
                <div id="lista" class="col-md-6">
                    <% if (group.get('members').length !=0) {%> 
                    <% var a = new Array();
                    var dati = new Array(); 
                    var a = new Array();
                    for(var g = 0;g<group.get('members').length;g++){
                        a[g]=group.get('members')[g].login;
                        }
                        %> 
                        <% for(var j =0;j<operators.length;j++)  { 
                        dati[j]= operators[j].attributes.login;
                        } %>
                        <% var c =_.intersection(dati,a) %> 
                        <% for (var i=0;i<c.length;i++) { %> 
                        <% for(var l=0;l<operators.length;l++){ %>
                        <% if (c[i]==operators[l].attributes.login) {%>

                        <div class="form-group row">
                            <div class="operator" draggable="true" ondragstart="drag(event)" id="<%= (operators[l].attributes.id)*1000 %>" value ="<%= c[i] %>"><%= c[i] %></div>
                        </div>
                        <% } %>
                        <% } %>
                        <% } %>                
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="form-group row">

                <p> <label for="nomember" id="label" class="col-md-3 control-label"><%= __("no-members") %></label></p>

                <div id="nomember" class=" col-md-6 Table" ondrop ="dissociate(event)" ondragover="enableDrop(event)">
                    <div id="noass" class="col-md-6">
                        <% if (group.get('members').length ==0) {%> 
                        <% var a = new Array();}
                        else{ var a = new Array();
                        for(var g = 0;g<group.get('members').length;g++){
                            a[g]=group.get('members')[g].login;
                            }
                            } var dati = new Array(); %> 
                            <% for(var j =0;j<operators.length;j++)  { 
                            dati[j]= operators[j].attributes.login;
                            } %> 
                            <% var b = _.difference(dati,a); %>
                            <% for (var i=0;i<b.length;i++) { %> 
                                <% for(var l=0;l<operators.length;l++){ %>
                                <% if (b[i]==operators[l].attributes.login) {%>
                                <div class="form-group row">
                                    <div class="operator" draggable="true" ondragstart="drag(event)" id="<%= (operators[l].attributes.id)*1000 %>" value ="<%= b[i]%>"><%= b[i]%></div>
                                </div>
                                <% } %>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
