<div id="operator">
   
    <script>
        $(document).ready(function() { $("select#groups").select2(); });
    </script>
    <script>
 $(#login).validate();
 </script>
<form name = "Myform" id="form" class="form-horizontal edit-operator-form" role="form">
    <legend class="legend"align="center"><%= operator ? 'Edit' : 'New' %> Operator</legend>
    <div class="form-group row">
        <label  class="col-md-3 control-label"><%= __("first-name") %></label>
        <input class = "col-md-6" name="name" id="first" type="text" value="<%= operator ? operator.get('firstName') : '' %>">
    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label"><%= __("last-name") %></label>
        <input class = "col-md-6" name="surname" type="text" value="<%= operator ? operator.get('lastName') : '' %>">
    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label"><%= __("birth-date") %></label>
        <input class = "col-md-6 date" name="date" type="date" required="required" value="<%= operator ? operator.get("birthDate").slice(0,9) +  (parseInt(operator.get("birthDate").slice(9,10))+1): '' %>">
    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label"><%= __("sex") %></label>
         <% if(!operator) { %>
        
            <select class = "col-md-6" id="sex" name="sex" >
                <option class="col-md-6" value="M" ><%=__("m") %></option>
                <option class="col-md-6" value="F"><%=__("f") %></option>
               
             </select>
       
         <% } %>
          <% if(operator) { %>
        
            <select class="col-md-6" id="sex" name="sex" >
                <% if(operator.get('sex') == 'M') { %>
                <option class="col-md-6" value="M" selected ><%=__("m") %></option>
                <option class="col-md-6"value="F"><%=__("f") %></option>
                <% } else { %>
                 <option class="col-md-6" value="M" ><%=__("m") %></option>
                <option  class="col-md-6"value="F" selected><%=__("f") %></option>
                <% } %>     
         </select>
        
         <% } %>


    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label"><%= __("email") %></label>
        <input class ="col-md-6" name="email" type="email" value="<%= operator ? operator.get('email') : '' %>">
    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label"><%= __("login") %></label>
        <input class="col-md-6" name="login" id="login" type="text" pattern = ".{3,}" value="<%= operator ? operator.get('login') : '' %>">
    </div>
    <% if(operator) { %>

    <div class="form-group row" id="groups">
        <label class="col-md-3 control-label"><%=__("group") %></label>

        <select class="col-md-4" name="group[]" id="groups" multiple="true" size="10"> <% _.each(groups, function(group) { %> 
         <% if(operator.get('groups')==group.get('name')) { %> 
         <option   id="group" selected value ="<%= operator.get('groups') %>"><%= group.get("name") %></option>
            <% } else {%>
            <option id ="group" ><%= group.get('name') %></option>
<% } %>
            <% }) %>

        </select> 
           </div>  
 <% } %>

      <% if(!operator) { %>
         <div class="form-group row">
        <label class="col-md-3 control-label"><%= __("password") %></label>
        <input class="col-md-6" name="password" type="text" />
    </div>
     <% } %>



    <hr />
    <div id="buttonbardiv" class="row text-center">
         <% if(!operator) { %>
        <button type="submit" class="btn" >Create Operator</button>
        <% } %>

        <% if(operator) { %>
         <button type="hidden" class="btn update" name="update">Update Operator</button>
        <input type="hidden" name="id" value="<%= operator.id %>" />
        <button data-operator-id="<%= operator.id %>" class="btn btn-danger delete">Delete</button>
        <% }; %>
    </div>
</form>
</div>



