<h1><%= __("operator-manager") %></h1>
<h2><%= data.id ? __("update-operator") : __("create-operator") %></h2>
<div id="content">
    <form class="form-horizontal edit-data-form" role="form">

      <div class="form-group metadataform-group">
          <label for="firstName" class="data-label"><%= __('given-name') %></label>
          <div class="data-input-div">
              <input class="form-control" id="firstName" name="firstName" required></input>
          </div>
      </div>
      <div class="form-group metadataform-group">
          <label for="lastName" class="data-label"><%= __('surname') %></label>
          <div class="data-input-div">
              <input class="form-control" id="lastName" name="lastName" required></input>
          </div>
      </div>
      <div class="form-group metadataform-group">
          <label for="birthDate" class="data-label"><%= __('birth-date') %></label>
          <div class="data-input-div">
              <input class="form-control" id="birthDate" name="birthDate" placeholder="<%= __('please-select') %>" required></input>
          </div>
      </div>
      <div class="form-group metadataform-group">
          <label for="sex" class="data-label"><%= __('sex') %></label>
          <div class="data-input-div">
            <input class="form-control" id="sex" name="sex"></select>
          </div>
      </div>
      <div class="form-group metadataform-group">
          <label for="email" class="data-label"><%= __('email') %></label>
          <div class="data-input-div">
              <input class="form-control" id="email" name="email"></select>
          </div>
      </div>
      <div class="form-group metadataform-group">
          <label for="login" class="data-label"><%= __('login') %></label>
          <div class="data-input-div">
              <input class="form-control" id="login" name="login"></select>
          </div>
      </div>

      <% if(!data.id) { %>
        <div class="form-group metadataform-group">
            <label for="password" class="data-label"><%= __('password') %></label>
            <div class="data-input-div">
                <input type="data-input-div" class="form-control" id="password" name="password"></input>
            </div>
        </div>
     <% } %>

    <div id="buttonbardiv" class="row text-center">
      <div class="btn-group btn-group-margin">
        <input type="submit" id="save" class="btn btn-primary" value="<%= data.id ? __('update-operator') : __('create-operator') %>" >

        <% if(data.id) { %>
          <input type="submit" id="delete" class="btn btn-danger" value="<%= __('delete')%>" >
        <% }; %>
      </div>
    </div>
</form>
</div>
<div class="operator-modal"></div>
