<h2 class="legend" align="center"><%= __("operator-list") %></h2> 

<div id="list">
    <div class="table-responsive">
        <table class="table striped">
            <thead> 
               
                <tr>
                    <th><%= __("first-name") %></th>
                    <th><%= __("last-name") %></th>
                    <th><%= __("birth-date") %></th>
                    <th><%= __("sex") %></th>
                    <th><%= __("email") %></th>
                    <th><%= __("login") %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>  <% _.each(operators, function(operator) { %> 
            <tr>


                <td class="oper_val"><%= operator.get("firstName") %></td>
                <td class="oper_val"><%= operator.get("lastName") %></td>  
                <td class="oper_val"><%= moment(operator.get("birthDate")).format("DD/MM/YYYY") %></td>
                <td class="oper_val"><%= operator.get("sex") %></td>
                <td class="oper_val"><%= operator.get("email") %></td>
                <td class="oper_val"><%= operator.get("login") %></td>
                <td><a id="edit" class="btn" href="#/operators/edit/<%= operator.id %>"><%=__("edit") %></a></td>

            
          

            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
    <div id="buttonbardiv" class="row text-center">
        <a href="#/operators/new" class="btn btn-primary"><%= __("new-operator")%></a>
    </div>
     </div>
