<h2><%= __("operator-list") %></h2> 

<div id="content">
    <div class="table-responsive">
        <table class="table striped">
            <thead> 
               
                <tr>
                    <th><%= __("first-name") %></th>
                    <th><%= __("last-name") %></th>
                    <th><%= __("birth-date") %></th>
                    <th><%= __("sex") %></th>
                    <th><%= __("email") %></th>
                    <th><%= __("login") %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>  <% _.each(operators, function(operator) { %> 
            <tr>


                <td><%= operator.get("firstName") %></td>
                <td><%= operator.get("lastName") %></td>
                <td><%= operator.get("birthDate").toUTCString() %></td>
                <td><%= operator.get("sex") %></td>
                <td><%= operator.get("email") %></td>
                <td><%= operator.get("login") %></td>
                <td><a class="btn btn-default" href="#/operators/edit/<%= operator.id %>"><%=__("edit") %></a></td>








            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
    <div id="buttonbardiv" class="row text-center">
        <a href="#/operators/new" class="btn btn-primary"><%= __("new-operator")%></a>
    </div>
     </div>
