<div class="col-sm-6 text-left" style="margin-top:2%;">
  <% if (headers['X-Total-Count'] !== 0 && (headers.notFiltered === DEFAULT_LIMIT || rowsLenght < DEFAULT_LIMIT) ){%>
    Showing <%= headers['startRow']%> to
    <% if (rowsLenght < DEFAULT_LIMIT) {%>
      <%= headers['X-Total-Count']%>
      <%}
      else {%>
        <%= headers['endRow']%>
        <%}%>
    of <%= headers['X-Total-Count']%> rows
  <%}
  else if (headers['X-Total-Count'] !== 0 && headers.notFiltered < DEFAULT_LIMIT && headers.notFiltered > 0 ){%>
  Showing <%= headers['startRow']%> to <%= headers['endRow']%> of <%= headers['X-Total-Count']%> rows (<%= DEFAULT_LIMIT - headers.notFiltered %> filtered by Project)
  <%}
  else{%>
    <%= headers['X-Total-Count']%> rows
  <%}%>

</div>
<div id="pagination" class="col-sm-6 text-right">
  <ul class="pagination">
    <li><a id="first" class="pagin btn btn-link"><%= __("first")%></a></li>
    <li><a id="previous" class="pagin btn btn-link"><%= __("prev")%></a></li>
    <li><a class="btn btn-default">
      <% if (headers['X-Total-Count'] !== 0) {%>
      <%= headers['X-Current-Page']%> of <%= headers['X-Total-Pages']%>
      <%}
      else{%>
        <%= headers['X-Total-Pages']%>
      <%}%>
    </a></li>
    <li><a id="next" class="pagin btn btn-link"><%= __("next")%></a></li>
    <li><a id="last" class="pagin btn btn-link"><%= __("last")%></a></li>
  </ul>
</div>
