<h2><%= __("samples-list") %></h2>

<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><%= __("biobank") %></th>
                            <th><%= __("arrival-code") %></th>
                            <th><%= __("biobank-code") %></th>
                            <th><%= __("type") %></th>
                            <th><%= __("donor") %></th>
                            <th><%= __("diagnosis") %></th>
                            <th><%= __("anatomical-position")%></th>
                            <th style="display: none;"><%= __("project") %></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% _.each(samples, function(sample) {
                    var metadata = sample.get("metadata")
                    var dataType = _.find(dataTypes, {id : sample.get('type')});
                    var sampleProject = _.find(xtens.session.get("projects"), {id :  dataType.get("project")}); %>

                    <tr class="content">
                        <td><%= sample.get("acronym") %></td>
                        <td><%= metadata.arrival_code && metadata.arrival_code.value %></td>
                        <td><%= sample.get("biobank_code") %></td>
                        <td><%= dataType.get("name") %></td>
                        <td><%= sample.get("code") %></td>
                        <td><%= metadata.pathology &&  metadata.pathology.value %></td>
                        <td><%= metadata.sample_codification && metadata.sample_codification.value %></td>
                        <td style="display:none;"><%= sampleProject ? sampleProject.name : null %></td>
                        <td  class="text-right">
                          <% var privilege = dataTypePrivileges.find(function(model) {
                            return model.get('dataType') === sample.get("type"); });
                           if(privilege.get("privilegeLevel") === "edit" ){ %>
                            <a class="btn" href="<%= sample.get("editLink") %>"><%=__("edit") %></a>
                            <%} %>
                            <% if (sample.get("newDerivativeLink") && sample.get("newDerivativeLink").length > 0) {%>
                            <a class="btn" href="<%= sample.get("newDerivativeLink") %>"><%=__("new-derivative-sample") %></a>
                            <%} %>
                            <% if (sample.get("newDataLink") && sample.get("newDataLink").length > 0) {%>
                            <a class="btn" href="<%= sample.get("newDataLink") %>"><%= __("new-data") %></a>
                            <%} %>
                        </td>
                      </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
            <div id="pagination" class="row"></div>
            <div id="buttonbardiv" class="row text-center">
              <div class="btn-group btn-group-margin">
                <a href="" id="newSample" class="btn btn-primary"><%= __("new-sample")%></a>
              </div>
            </div>
        </div>
    </div>
</div>
