<h1><%= __("subject-manager") %></h1>
<h2><%= data.id ? __("update-subject") : __("create-subject") %></h2>
<div id="content">
    <form class="form-horizontal edit-data-form" role="form">
        <!--
        <div class="form-group">
            <label for="dataType" class="data-label"><%= __("select-a-data-type") %></label>
            <div class="data-input-div">
                <select class="form-control" id="dataType" name="dataType">
                </select>
            </div>
        </div>
        -->
        <div id="personal-details">
            <!--
            <button id="add-personal-details" class="btn btn-info"><%= __('add-personal-details') %></button>
            -->
        </div>
        <div class="form-group metadataform-group">
            <label for="code" class="data-label"><%= __('code') %></label>
            <div class="data-input-div">
                <input text class="form-control" id="code" name="code"></input>
            </div>
        </div>
        <div class="form-group metadataform-group">
            <label for="sex" class="data-label"><%= __('sex') %></label>
            <div class="data-input-div">
                <input type="hidden" class="form-control" id="sex" name="sex"></select>
            </div>
        </div>
        <div class="form-group metadataform-group">
            <label for="project" class="data-label"><%= __('project') %></label>
            <div class="data-input-div">
                <select multiple class="form-control" id="projects" name="projects"></select>
            </div>
        </div>
        <div class="form-group metadataform-group">
            <label for="tags" class="data-label"><%= __('tags') %></label>
            <div class="data-input-div">
                <input type="hidden" class="form-control" id="tags" name="tags"></input>
            </div>
        </div>
        <div class="form-group metadataform-group">
            <label for="notes" class="data-label"><%= __('notes') %></label>
            <div class="data-input-div">
                <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
            </div>
        </div>
        <div id="buttonbardiv" class="row text-center">
            <div class="btn-group btn-group-margin">
                <input type="submit" id="save" class="btn btn-primary" value="<%=__('save') %>" >
                <% if (data.id) { %>
                    <input type="hidden" id="id" name="id" value="<%= data.id %>" />
                    <button data-data-id="<%= data.id %>" data-target-route="subjects" class="btn btn-danger delete"><%= __("delete") %></button>
                <%} %>
            </div>
        </div>
    </form>
</div>
