<h2><%= __("subject-list") %></h2> 

<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><%= __("code") %></th>
                            <th><%= __("given-name") %></th>
                            <th><%= __("surname") %></th>
                            <th><%= __("birth-date") %></th>
                            <th><%= __("sex") %></th>
                            <th><%= __("project") %></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% var date; %>
                    <% _.each(subjects, function(subject) { %> 
                    <tr>
                        <td><%= subject.get("code") %></td>
                        <td><%= subject.get("personalInfo") && subject.get("personalInfo").givenName %></td>
                        <td><%= subject.get("personalInfo") && subject.get("personalInfo").surname %></td>
                        <td>
                            <% date = subject.get("personalInfo") && subject.get("personalInfo").birthDate; %>
                            <%= date ? date.slice(0, date.indexOf("T")).split("-").reverse().join("/") : '' %>
                        </td>
                        <td><%= subject.get("sex") %></td>
                        <td><%= subject.get("projects").map(function(project) {return (" " + project.name); }).toString().trim() %></td>
                        <td>
                            <a class="btn" href="<%= subject.get("editLink") %>" ><%=__("edit") %></a>
                            <% if (subject.get("newSampleLink") && subject.get("newSampleLink").length) {%>
                                <a class="btn" href="<%= subject.get("newSampleLink") %>"><%=__("new-sample") %></a>
                            <%} %>
                            <% if (subject.get("newDataLink") && subject.get("newDataLink").length) {%>
                                <a class="btn" href="<%= subject.get("newDataLink") %>"><%=__("new-data") %></a>
                            <%} %>   
                        </td>
                    </tr>
                    <% }) %> 
                    </tbody>
                </table>
            </div>
            <div id="buttonbardiv" class="row text-center">
                <a href="#/subjects/new" class="btn btn-primary"><%= __("new-subject")%></a>
            </div>
        </div>
    </div>
</div>

