<h1><%= __("subject-details") %></h1>

<div id="content">
    <div class="container data-header-cnt">
        <div id="data-header-row" class="row data-header-row">
            <div id="data-header" class="col-md-offset-2 col-md-6">

              <div id="personal-details">
                  <!--
                  <button id="add-personal-details" class="btn btn-info"><%= __('add-personal-details') %></button>
                  -->
              </div>
              <div class="row margin-row">
                    <label for="code" class="data-label"><%= __("code") %></label>
                        <div class="data-input-div">
                    <span id="code" class="data-span"><%= data.get("code") %></span>
                </div>
              </div>
               <div class="row margin-row">
                    <label for="sex" class="data-label"><%= __("sex") %></label>
                    <div class="data-input-div">
                    <div id="sex" name="sex" class="data-span" ><%= data.get("sex") %></div>
                </div>
              </div>
                <div class="row margin-row">
                    <label for="dataType" class="data-label"><%= __("data-type") %></label>
                    <div class="data-input-div">
                        <div id="dataType" name="dataType" class="data-span"><%= data.get("type").name %></div>
                    </div>
                </div>
              <div class="row margin-row">
                    <label for="tags" class="data-label"><%= __('tags') %></label>
                    <div class="data-input-div">
                        <div type="hidden" class="data-span" id="tags" name="tags">
                            <%= _.isEmpty(data.get('tags')) ? '' : data.get('tags').join(', ') %>
                        </div>
                    </div>
                </div>
                <div class="row margin-row">
                    <label for="notes" class="data-label"><%= __('notes') %></label>
                    <div class="data-input-div">
                        <div class="data-span" id="notes" name="notes" rows="4"><%= data.get('notes') || "" %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="metadata-schema" class="metadata-schema">
        <div id="metadata-body" class="metadata-body">
            <% var metadata = data.get("metadata"), value, values, unit;
            _.each(fields, function(field,index) {%>
            <!--
      <% var groupname = field._group %>
        -->
            <%if (index === 0 || fields[index-1]._group !== field._group ){%>
            <div class="metadatagroup span7 center">
                <h4 class="metadatagroup-header text-uppercase">
                    <%= field._group %>
                </h4>
                <div class="metadatacomponent-body">
                    <%}%>
                    <% if (!field.sensitive || xtens.session.get('canAccessSensitiveData') ) {%>
                    <div class="row margin-row">
                        <span name="metadata-name" class="col-md-4 text-right" style="padding-left:29px">
                            <%=field.name%>
                        </span>
                        <div class="col-md-5 text-left">

                          <% value =  metadata[field.formattedName] ? metadata[field.formattedName].value : null;
                            values = metadata[field.formattedName] ? metadata[field.formattedName].values : null;
                            if (field.fieldType==="Date"){value=moment(value).lang("it").format('L');}
                            unit = metadata[field.formattedName] ? metadata[field.formattedName].unit : null; %>
                            <div name="metadata-value" class="data-value">
                                <% if (_.isArray(values)) { %>
                                    <%=  !_.isEmpty(values) ? values.join(", ") : "" %>
                                <% }
                                else{ %>
                                <%= value && unit ? value + " [" + unit + "]" :
                                value ? value : "" %>
                                <%};%>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <% if (index === fields.length-1 || field._group !== fields[index+1]._group ) {%>
                </div>
            </div>
            <%}%>
            <%});%>
        </div>
    </div>
</div>
