<h1><%= __("operator-manager") %></h1>
<h2><%=__("update-password")%></h2>
<div id="content">
  <form class="form-horizontal edit-data-form" role="form">

    <div class="form-group metadataform-group">
      <label for="oldPassword" class="data-label">
        <%= __('old-password') %>
      </label>
      <div class="data-input-div">
        <input type="password" class="form-control" id="oldPassword" name="oldPassword" required></input>
      </div>
    </div>
    <div class="form-group metadataform-group">
      <label for="newPassword" class="data-label">
        <%= __('new-password') %>
      </label>
      <div class="data-input-div">
        <input type="password" pattern=".{8,}" class="form-control" id="newPassword" name="newPassword" required></input>
      </div>
    </div>
    <div class="form-group metadataform-group">
      <label for="confirmNewPass" class="data-label">
        <%= __('cnew-password') %>
      </label>
      <div class="data-input-div">
        <input type="password" class="form-control" id="confirmNewPass" name="confirmNewPass" required></input>
      </div>

      <div id="buttonbardiv" class="row text-center">
        <div class="btn-group btn-group-margin">
          <input type="submit" id="update" class="btn btn-primary" value="<%= __('update-password')%>">
        </div>
      </div>
  </form>
  </div>
  <div class="updated-password-modal"></div>
