<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-xs btn-default xtenstable-details"><%= __('details') %></button>
    <button type="button" class="btn btn-xs btn-default xtenstable-edit"><%= __('edit') %></button>
    <button type="button" class="btn btn-xs btn-default xtenstable-files"><%= __('files') %></button>
    <button type="button" class="btn btn-xs btn-default xtenstable-derivedsamples"><%= __('derived-samples') %></button>
    <button type="button" class="btn btn-xs btn-default xtenstable-deriveddata"><%= __('derived-data') %></button>
</div>
